txtp
tools-c-sh/mapper
tools-c-sh/cleaner

tools-ada/mapper/mapper
tools-ada/mapper/mapper.ali
tools-ada/mapper/mapper.o
tools-ada/mapper/txtp
tools-ada/mapper/output
tools-ada/mapper/tracks

tools-ada/cleaner/cleaner
tools-ada/cleaner/cleaner.ali
tools-ada/cleaner/cleaner.o

output
