txtp
output

txtp-d2sk
txtp-d1

matches
tracks

src/mapper/mapper
src/mapper/obj

src/cleaner/cleaner
src/cleaner/obj

src/search/search
src/search/obj

src/find/find
src/find/obj

src/vgmstream-ada/ext_lib
src/vgmstream-ada/ext_src
src/vgmstream-ada/lib
src/vgmstream-ada/obj

src/pulse-ada/lib
src/pulse-ada/obj
