txtp
output

tools-ada/mapper/mapper
tools-ada/mapper/obj

tools-ada/cleaner/cleaner
tools-ada/cleaner/obj

tools-ada/search/search
tools-ada/search/obj

tools-ada/find/find
tools-ada/find/obj

tools-ada/clibs/ext_lib
tools-ada/clibs/lib
tools-ada/clibs/obj

tools-ada/clibs/lib/*
